@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/bahij-fonts/BahijTheSansArabic-ExtraLight.woff2") format("woff2"), url("../fonts/bahij-fonts/BahijTheSansArabic-ExtraLight.woff") format("woff"), url("../fonts/bahij-fonts/BahijTheSansArabic-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/bahij-fonts/BahijTheSansArabic-Light.woff2") format("woff2"), url("../fonts/bahij-fonts/BahijTheSansArabic-Light.woff") format("woff"), url("../fonts/bahij-fonts/BahijTheSansArabic-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/bahij-fonts/BahijTheSansArabic-Plain.woff2") format("woff2"), url("../fonts/bahij-fonts/BahijTheSansArabic-Plain.woff") format("woff"), url("../fonts/bahij-fonts/BahijTheSansArabic-Plain.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/bahij-fonts/BahijTheSansArabic-SemiBold.woff2") format("woff2"), url("../fonts/bahij-fonts/BahijTheSansArabic-SemiBold.woff") format("woff"), url("../fonts/bahij-fonts/BahijTheSansArabic-SemiBold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/bahij-fonts/BahijTheSansArabic-Bold.woff2") format("woff2"), url("../fonts/bahij-fonts/BahijTheSansArabic-Bold.woff") format("woff"), url("../fonts/bahij-fonts/BahijTheSansArabic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/bahij-fonts/BahijTheSansArabic-ExtraBold.woff2") format("woff2"), url("../fonts/bahij-fonts/BahijTheSansArabic-ExtraBold.woff") format("woff"), url("../fonts/bahij-fonts/BahijTheSansArabic-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bahij TheSansArabic";
  src: url("../fonts/bahij-fonts/BahijTheSansArabic-Black.woff2") format("woff2"), url("../fonts/bahij-fonts/BahijTheSansArabic-Black.woff") format("woff"), url("../fonts/bahij-fonts/BahijTheSansArabic-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  font-weight: 400;
  font-style: normal;
  font-family: "Bahij TheSansArabic";
  padding-top: 113px;
}

.title-text-sec {
  display: flex;
  justify-content: center;
}
.title-text-sec h2 {
  margin: 0;
  margin-bottom: 45px;
  font-size: 30px;
  letter-spacing: 3px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 800;
  text-align: center;
}

html[dir=rtl] .title-text-sec h2 {
  letter-spacing: 0;
}

.item-parent {
  position: relative;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

.ul-es {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:focus, a:hover {
  text-decoration: none;
}

.ancor-btn {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 0;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.ancor-btn:hover {
  text-decoration: none;
  color: black;
}
.ancor-btn:focus {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background: #0083ca;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  background-color: #f2f2f2;
}

/*preloader*/
.preloader {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.progress {
  position: fixed;
  z-index: 222000;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #000;
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  overflow: hidden;
}

.progress-bar {
  animation: progress 6s ease infinite;
  padding: 1px;
  background-color: #8dc63f;
}

@keyframes progress {
  from {
    width: 0;
    color: rgba(255, 255, 255, 0);
  }
  to {
    width: 100%;
    color: rgb(255, 255, 255);
  }
}
/*preloader*/
.totop-whatsapp-holder {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 10;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.totop-whatsapp-holder .whatsapp-icon {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8dc63f;
  border-radius: 50%;
}
.totop-whatsapp-holder .whatsapp-icon i {
  color: #fff;
  font-size: 25px;
}
.totop-whatsapp-holder .toTop {
  margin-bottom: 5px;
  padding: 0;
  filter: drop-shadow(0 0 12px rgba(0, 0, 0, 0.15));
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  transition: all linear 0.3s;
  opacity: 0;
  visibility: hidden;
}
.totop-whatsapp-holder .toTop:hover {
  background-color: #8dc63f;
}
.totop-whatsapp-holder .toTop:hover .toTop-icon {
  color: #fff;
}
.totop-whatsapp-holder .toTop .toTop-icon {
  font-size: 20px;
  color: #808080;
  transition: all linear 0.2s;
}

@media only screen and (min-width: 768px) {
  .totop-whatsapp-holder .whatsapp-icon {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 20px;
    padding-left: 20px;
  }
  .title-text-sec h2 {
    font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1170px;
  }
}
.mainBanner .swiper-button-next, .mainBanner .swiper-button-prev {
  transition: background-color linear 0.2s;
  width: 48px;
  border-radius: 50%;
  height: 48px;
  background-color: rgba(0, 131, 202, 0);
  border: 2px solid #ededed;
}
.mainBanner .swiper-button-next i, .mainBanner .swiper-button-prev i {
  font-size: 24px;
  color: #ffffff;
  text-align: center;
}
.mainBanner .swiper-button-next:hover, .mainBanner .swiper-button-prev:hover {
  background-color: #0083ca;
  border: #0083ca;
}
.mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next {
  left: 30px;
}
.mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-next {
  right: 30px;
}
.mainBanner .container {
  height: 100%;
}
.mainBanner .mainslider-item {
  text-align: center;
  position: relative;
}
.mainBanner .swiper-pagination-bullet {
  opacity: 0.502;
  background-color: #000000;
}
.mainBanner .swiper-horizontal > .swiper-pagination-bullets, .mainBanner .swiper-pagination-bullets.swiper-pagination-horizontal, .mainBanner .swiper-pagination-custom, .mainBanner .swiper-pagination-fraction {
  display: block;
  bottom: 10px;
}
.mainBanner .mainBanner-parent {
  position: relative;
  height: 100%;
}
.mainBanner .swiper-button-next:after, .mainBanner .swiper-rtl .swiper-button-prev:after, .mainBanner .swiper-button-prev:after, .mainBanner .swiper-rtl .swiper-button-next:after {
  content: "";
}

.mainBanner-link {
  height: 100%;
  display: block;
}
.mainBanner-link img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.mainBanner .mainslider-item {
  position: relative;
  height: 100%;
}

.mainBanner .swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .mainBanner .swiper-horizontal > .swiper-pagination-bullets, .mainBanner .swiper-pagination-bullets.swiper-pagination-horizontal, .mainBanner .swiper-pagination-custom, .mainBanner .swiper-pagination-fraction {
    bottom: 2px;
  }
}
@media only screen and (max-width: 767px) {
  .mainBanner .swiper-button-prev, .mainBanner .swiper-rtl .swiper-button-next, .mainBanner .swiper-button-next, .mainBanner .swiper-rtl .swiper-button-prev {
    display: none;
  }
  .mainBanner {
    padding-top: 0;
  }
}
@media screen and (max-width: 400px) {
  .mainBanner-link img {
    height: 200px;
  }
}
.item-parent {
  position: relative;
}

.category {
  padding: 90px 0 110px 0;
  background-image: url(../images/banners/categoryBanner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category-item {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.category .swiper-button-next, .category .swiper-button-prev {
  display: none;
}
.category .swiper-button-prev:after, .category .swiper-rtl .swiper-button-next:after, .category .swiper-button-next:after, .category .swiper-rtl .swiper-button-prev:after {
  display: none;
}
.category .swiper-horizontal > .swiper-pagination-bullets, .category .swiper-pagination-bullets.swiper-pagination-horizontal, .category .swiper-pagination-custom, .category .swiper-pagination-fraction {
  bottom: -50px;
}
.category .swiper-button-prev, .category .swiper-rtl .swiper-button-next {
  display: none;
}
.category .swiper-pagination-bullet {
  opacity: 0.502;
  background-color: #000000;
}
.category .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #ffffff;
}

.item-desc {
  text-align: center;
  margin-top: 20px;
}
.item-desc .category-name {
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 700;
  width: 100%;
  text-align: center;
  margin: 0;
  text-transform: capitalize;
  transition: all linear 0.2s;
}

.category .img-holder {
  width: 100%;
  height: auto;
  padding: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category .img-holder .img-holder-child {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.category .img-holder .img-holder-child img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all linear 0.2s;
}

.category-item .img-holder-child {
  transition: all linear 0.2s;
}
.category-item:hover .img-holder-child {
  transform: scale(1.1);
}

@media only screen and (max-width: 767px) {
  .category .swiper-horizontal > .swiper-pagination-bullets, .category .swiper-pagination-bullets.swiper-pagination-horizontal, .category .swiper-pagination-custom, .category .swiper-pagination-fraction {
    bottom: -55px;
  }
  .category {
    padding: 50px 0 80px 0;
  }
  .item-desc .category-name {
    font-size: 16px;
  }
  html[dir=rtl] .item-desc .category-name {
    font-size: 15px;
  }
  .category-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.shopByDeal {
  padding: 90px 0 110px 0;
}
.shopByDeal .title-text-sec h2 {
  color: #000;
  margin-bottom: 30px;
}
.shopByDeal .swiper-button-prev:after, .shopByDeal .swiper-rtl .swiper-button-next:after, .shopByDeal .swiper-button-next:after, .shopByDeal .swiper-rtl .swiper-button-prev:after {
  content: "";
}
.shopByDeal .swiper-button-next, .shopByDeal .swiper-button-prev {
  display: none;
}
.shopByDeal .swiper-horizontal > .swiper-pagination-bullets, .shopByDeal .swiper-pagination-bullets.swiper-pagination-horizontal, .shopByDeal .swiper-pagination-custom, .shopByDeal .swiper-pagination-fraction {
  bottom: -50px;
}
.shopByDeal .swiper-pagination-bullet {
  opacity: 0.502;
  background-color: #000000;
}
.shopByDeal .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #8dc63f;
}

.shopByDeal .product-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ffffff;
}
.shopByDeal .like {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  filter: drop-shadow(0 0 7.5px rgba(0, 0, 0, 0.05));
  background-color: #ffffff;
  position: absolute;
  top: 10px;
  inset-inline-start: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
}
.shopByDeal .like:hover {
  background-color: #f53737;
}
.shopByDeal .like:hover i {
  color: #fff;
}
.shopByDeal .like i {
  transition: color linear 0.2s;
  font-size: 20px;
  color: #000000;
  text-align: center;
}
.shopByDeal .item-desc {
  text-align: center;
  width: 100%;
}
.shopByDeal .item-desc > a {
  text-decoration: none;
}
.shopByDeal .item-desc > a:hover {
  text-decoration: none;
}
.shopByDeal .item-desc .brand-name {
  height: 41px;
  font-size: 14px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
  margin: 0;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-weight: 400;
  transition: all linear 0.2s;
  margin-bottom: 15px;
}
.shopByDeal .item-desc .brand-name:hover {
  color: #0083ca;
}
.shopByDeal .price {
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.shopByDeal .price .current-price {
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin-bottom: 0;
  margin-inline-end: 8px;
}
.shopByDeal .price .deleted {
  font-size: 14px;
  text-decoration: line-through;
  text-transform: uppercase;
  color: #4d4d4d;
  font-weight: 300;
}
.shopByDeal .add {
  width: 360px;
  height: 55px;
  border-radius: 5px;
  background-color: #0083ca;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  transition: all linear 0.2s;
}
.shopByDeal .add:hover {
  background-color: #8dc63f;
  color: #ffffff;
}
.shopByDeal .add i {
  font-size: 26px;
  color: #ffffff;
  line-height: 17px;
}
.shopByDeal .add span {
  margin-inline-start: 7px;
  line-height: 28px;
}
.shopByDeal .img-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 360px;
  height: 424px;
  overflow: hidden;
  background-color: #f7f7f7;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .shopByDeal .img-holder {
    height: auto;
    padding: 20px 0;
  }
  .shopByDeal .img-holder img {
    height: 220px;
  }
}
@media only screen and (max-width: 767px) {
  .shopByDeal .item-desc .brand-name {
    margin-bottom: 12px;
    padding: 0 5px;
  }
  .shopByDeal .add {
    font-size: 16px;
    height: 45px;
  }
  .shopByDeal .add i {
    line-height: normal;
    font-size: 24px;
  }
  .shopByDeal .add span {
    margin-inline-start: 4px;
    line-height: initial;
  }
  .shopByDeal .swiper-horizontal > .swiper-pagination-bullets, .shopByDeal .swiper-pagination-bullets.swiper-pagination-horizontal, .shopByDeal .swiper-pagination-custom, .shopByDeal .swiper-pagination-fraction {
    bottom: -55px;
  }
  .shopByDeal {
    padding: 50px 0 80px 0;
  }
  .shopByDeal .price {
    margin-bottom: 17px;
  }
  .shopByDeal .price {
    justify-content: flex-start;
  }
  .item-desc {
    margin-top: 14px;
  }
  .shopByDeal .like i {
    font-size: 18px;
  }
  .shopByDeal .like {
    width: 30px;
    height: 30px;
  }
  .shopByDeal .img-holder img {
    height: 120px;
  }
  .shopByDeal .img-holder {
    padding: 45px 0 20px 0;
  }
  .like {
    width: 30px;
    height: 30px;
  }
  .price .current-price, .price .deleted {
    font-size: 15px;
  }
  .shopByDeal .price .current-price {
    margin-inline-end: 0;
    margin-bottom: 4px;
  }
  .price {
    flex-direction: column;
    line-height: normal;
    height: 50px;
    justify-content: initial;
    margin-bottom: 13px;
  }
  .item-desc .brand-name {
    font-size: 14px;
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .shopByDeal .img-holder:hover img {
    transform: scale(1.1);
  }
  .shopByDeal .img-holder img {
    transition: all linear 0.2s;
  }
}
.shopByBrand {
  padding: 90px 0 110px 0;
  height: 443px;
  background-color: #f7f7f7;
}
.shopByBrand .title-text-sec h2 {
  color: #000;
  margin-bottom: 35px;
}
.shopByBrand .swiper-button-prev:after, .shopByBrand .swiper-rtl .swiper-button-next:after, .shopByBrand .swiper-button-next:after, .shopByBrand .swiper-rtl .swiper-button-prev:after {
  content: "";
}
.shopByBrand .swiper-button-next, .shopByBrand .swiper-button-prev {
  display: none;
}

.brand-item a {
  display: block;
  width: 100%;
}

.brands-parent {
  position: relative;
}
.brands-parent .clients-item > a {
  display: block;
}
.brands-parent .clients-item > a img {
  width: 100%;
  max-width: 100%;
}

.brand-item a img {
  display: block;
  width: 100%;
}

.shopByBrand .swiper-horizontal > .swiper-pagination-bullets, .shopByBrand .swiper-pagination-bullets.swiper-pagination-horizontal, .shopByBrand .swiper-pagination-custom, .shopByBrand .swiper-pagination-fraction {
  bottom: -55px;
}
.shopByBrand .swiper-pagination-bullet {
  background-color: #000;
  opacity: 0.502;
}
.shopByBrand .swiper-pagination-bullet-active {
  background-color: #8dc63f;
  opacity: 1;
}

@media only screen and (max-width: 991px) {
  .shopByBrand {
    height: auto;
  }
}
@media only screen and (max-width: 767px) {
  .shopByBrand {
    padding: 50px 0 90px;
  }
  .shopByBrand .swiper-horizontal > .swiper-pagination-bullets, .clients .swiper-pagination-bullets.swiper-pagination-horizontal, .clients .swiper-pagination-custom, .clients .swiper-pagination-fraction {
    bottom: -45px;
  }
}
.video-banner {
  padding: 100px 0;
}
.video-banner .play-icon {
  font-size: 100px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  position: relative;
}
.video a {
  position: relative;
  height: 500px;
  display: block;
}

.video-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.video-overlay {
  background-image: linear-gradient(0deg, #0083c9 0%, #8dc53f 100%);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.position-relative {
  position: relative;
  height: 100%;
}

@media only screen and (max-width: 991px) {
  .video a {
    height: 400px;
  }
  .video-banner .play-icon {
    font-size: 80px;
  }
}
@media only screen and (max-width: 767px) {
  .video-banner {
    padding: 50px 0;
  }
  .video-banner .play-icon {
    font-size: 55px;
  }
  .video a {
    height: 200px;
  }
}
.features {
  background-color: #f7f7f7;
  padding: 40px 0;
}

.features-parent {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.feature-item {
  min-height: 154.8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
.feature-item h3 {
  font-size: 18px;
  color: #000000;
  font-weight: 800;
  text-align: center;
  margin: 0;
  margin-bottom: 5px;
}
.feature-item p {
  margin: 0;
  font-size: 14px;
  color: #000000;
  text-align: center;
}
.feature-item p a {
  text-decoration: underline;
  color: #000000;
}
.feature-item .icon {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #8dc63f;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 15px auto;
}
.feature-item .icon i {
  font-size: 30px;
  color: #ffffff;
}

.feature-item p a:hover {
  text-decoration: underline;
}

html[dir=rtl] .feature-item h3 {
  font-size: 17px;
  margin-bottom: 8px;
}

@media only screen and (max-width: 767px) {
  .features-parent {
    flex-wrap: wrap;
    justify-content: center;
  }
  .feature-item {
    min-height: auto;
    width: 50%;
  }
  .feature-item:last-of-type {
    margin-top: 30px;
  }
}
@media screen and (max-width: 450px) {
  .features-parent {
    flex-direction: column1;
  }
  .feature-item .icon {
    width: 50px;
    height: 50px;
  }
  .feature-item .icon i {
    font-size: 27px;
  }
  .feature-item {
    width: 100%;
    margin-bottom: 35px;
  }
  .feature-item:last-of-type {
    margin-top: 0;
    margin-bottom: 0;
  }
}
footer {
  padding-top: 65px;
}
footer a:hover {
  text-decoration: none;
}
footer .footer-title {
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.footer-items {
  display: flex;
  width: 950px;
  justify-content: space-between;
  align-items: flex-start;
}

.payment-maroof-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0 20px 0;
}
.payment-maroof-sec a:first-child {
  width: 75px;
}
.payment-maroof-sec a:first-child img {
  width: 100%;
}
.payment-maroof-sec a:last-child {
  width: 65px;
}
.payment-maroof-sec a:last-child img {
  width: 100%;
}
.payment-maroof-sec a:last-child {
  margin-inline-start: 15px;
}

.quick-links ul li {
  font-size: 16px;
  line-height: 29px;
}
.quick-links ul li a {
  font-size: 13px;
  font-weight: 400;
  color: #808080;
  text-transform: capitalize;
  transition: all linear 0.2s;
}
.quick-links ul li a:hover {
  color: #0083ca;
}
.quick-links ul li a:focus {
  text-decoration: none;
}
.quick-links ul li a:active {
  text-decoration: none;
}

@media only screen and (min-width: 768px) {
  .img-item {
    transform: translateY(-16px);
  }
}
.tasawk-text {
  margin: 0;
  display: flex;
  align-items: center;
}
.tasawk-text span {
  text-transform: capitalize;
  font-size: 12px;
  color: #ffffff;
  line-height: 20px;
}
.tasawk-text img {
  margin-inline-start: 5px;
}

.copyright {
  height: 59px;
  background-color: #0083ca;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright .copyright-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.copyright .right-reserved {
  font-size: 12px;
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social a {
  margin: 0 13px;
  transition: all linear 0.2s;
}
.social a i {
  font-size: 22px;
  color: #b3b3b3;
  transition: all linear 0.2s;
}
.social a:hover i {
  color: #0083ca;
}

@media only screen and (max-width: 1199px) {
  .footer-items {
    width: 100%;
  }
}
@media only screen and (max-width: 991px) {
  .logo-info {
    display: flex;
    justify-content: center;
  }
  .social {
    justify-content: center;
  }
  .footer-items {
    flex-direction: column;
  }
  .footer-items .img-item {
    order: 6;
    margin: 35px auto 0 auto;
  }
  .footer-items .footer-item {
    width: 100%;
  }
  .quick-links {
    width: 100%;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
  }
  .quick-drop {
    height: auto;
  }
  .contact, .quick-links {
    padding-bottom: 20px;
  }
  .contact ul li:first-child, .contact .nested, .quick-links ul li:first-child, .quick-links .nested {
    padding-top: 10px;
  }
  .quick-links ul li:first-child {
    padding-top: 5px;
  }
  .contact ul li {
    margin-bottom: 12px;
  }
  footer .footer-title {
    margin-bottom: 0;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer-title::after {
    font-size: 16px;
    content: "\f107";
    transition: all linear 0.3s;
    font-family: "line Awesome free";
    position: relative;
    color: #000;
  }
  .quick-drop, .contact ul, .nested {
    display: none;
  }
  .arrow-rotate::after {
    transform: rotate(180deg);
  }
}
@media only screen and (max-width: 767px) {
  .logo-info img {
    width: 200px;
  }
  .payment-maroof-sec {
    margin: 25px 0;
  }
  .copyright-content {
    flex-direction: column;
    align-items: center;
  }
  .copyright {
    height: auto;
    padding: 10px 0;
    margin-top: 40px;
  }
  footer {
    padding-top: 40px;
  }
  .copyright {
    margin-top: 35px;
    justify-content: center;
  }
  .tasawk-text {
    order: 5;
  }
  .quick-links ul li {
    font-size: 14px;
  }
  .contact ul li a {
    font-size: 14px;
  }
  .copyright .right-reserved {
    order: 2;
    text-align: center;
    width: 100%;
    width: 100%;
    margin: 10px 0 5px 0;
  }
  .copyright .container {
    width: 100%;
  }
  .payment-maroof-sec img:first-child {
    width: 70px;
  }
  .payment-maroof-sec img:last-child {
    width: 55px;
  }
  .logo-info {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .social i {
    font-size: 18px;
  }
  .payments {
    text-align: center;
    width: 100%;
    display: block;
  }
  .payments img {
    max-width: 100%;
  }
  .payment-maroof-sec {
    justify-content: center;
  }
  .copyright .copyright-content {
    justify-content: center;
  }
  .rotate-icon-special::after {
    transform: rotate(180deg);
  }
}
.mega-menu {
  transition: all linear 0.2s;
  height: 590px;
  z-index: 999999;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #ffffff;
  padding-top: 35px;
  opacity: 0;
  visibility: hidden;
}

.mega-items-parent {
  display: grid;
  grid-template-columns: 180px 175px 165px 1fr;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.mega-item {
  display: flex;
  flex-direction: column;
}
.mega-item ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 395px;
}
.mega-item h3 {
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  margin: 0;
  margin-bottom: 25px;
  position: relative;
}
.mega-item h3::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ededed;
  position: absolute;
  bottom: -7px;
  left: 0;
}
.mega-item ul li a {
  font-size: 16px;
  line-height: 28px;
  color: #000000;
  transition: all linear 0.2s;
  font-weight: 400;
}
.mega-item ul li a:hover {
  color: #0083ca;
}

.mega-item ul li .line-height-20 {
  line-height: 18px;
  margin-top: 5px;
}

@media only screen and (max-width: 1199px) {
  .mega-items-parent {
    grid-template-columns: 130px 130px 150px 1fr;
  }
  .mega-menu {
    height: 530px;
  }
}
@media only screen and (max-width: 991px) {
  .mega-item ul li {
    text-align: start;
  }
  .mega-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    padding: 0 10px 0 10px;
    height: auto;
  }
  .mega-items-parent {
    margin-top: 15px;
    display: none;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .mega-item {
    width: 100%;
  }
  .mega-item ul {
    padding-inline-start: 10px;
  }
  .mega-item ul li:last-of-type {
    padding-bottom: 20px;
  }
  .mega-item h3 {
    width: 100%;
    font-size: 15px;
    text-align: start;
    display: block;
    color: #000;
    width: 100%;
    margin-bottom: 15px;
    line-height: normal;
  }
  .mega-item ul {
    display: none;
    max-height: none;
    margin-top: -10px;
  }
  .mega-item ul li a {
    line-height: 28px;
    font-size: 14px;
  }
  .mega-menu > .container {
    padding: 0;
    width: 100%;
  }
  .mega-item h3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mega-item h3::after {
    content: "\f107";
    font-size: 14px;
    transition: all linear 0.3s;
    font-family: "line Awesome free";
    position: relative;
    width: unset;
    height: unset;
    background-color: transparent;
    bottom: unset;
    left: unset;
  }
}
.control-section, nav {
  width: 301.77px;
}

.cart, .account-text, .openMySearch, .control-section .whatsapp-icon {
  margin-inline-start: 35px;
}

.logo a {
  width: 100%;
  display: block;
}
.logo a img {
  transition: all linear 0.4s;
  height: 83px;
  width: 293px;
}

.overflowHidden {
  overflow: hidden !important;
}

.lang {
  display: flex;
  align-items: center;
}
.lang span {
  font-size: 12px;
  color: #ffffff;
  margin-inline-end: 5px;
  text-align: center;
}

.account-details {
  width: 129px;
  height: 74px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1));
  background-color: #ffffff;
  position: absolute;
  text-align: center;
  padding: 10px 20px;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all linear 0.3s;
}
.account-details li {
  line-height: 30px;
}
.account-details a {
  font-size: 13px;
  line-height: 28px;
  text-transform: uppercase;
  color: #808080;
  text-align: center;
  transition: all linear 0.2s;
}
.account-details a:hover {
  text-decoration: none;
  color: #0083ca;
}
.account-details a:first-child {
  margin-bottom: 5px;
}

.control-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.control-section i {
  font-size: 24px;
  color: #fff;
  width: 100%;
  display: block;
}
.control-section i:hover {
  color: #fff !important;
}

.cart {
  margin-inline-end: 5px;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart i {
  transition: all linear 0.2s;
}
.cart:hover i {
  color: #000;
}

.cart div {
  position: relative;
}

nav > .nav-ul > li:first-child {
  padding: 31px;
  margin-inline-end: 30px;
}

.number {
  background-color: #8dc63f;
  width: 16px;
  height: 16px;
  font-size: 9px;
  color: #ffffff;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-weight: 700;
  position: absolute;
  top: -5px;
  left: 13px;
}

.account-text {
  display: flex;
  align-items: center;
}

.account-btn i {
  transition: all linear 0.2s;
}

.account-btn-color {
  color: #0083ca;
}

.account-text {
  position: relative;
  margin-inline-start: 35px;
  display: flex;
  align-items: center;
}

.openMySearch i {
  transform: rotate(270deg);
}

.closeSearh-btn {
  position: absolute;
  top: 50%;
  inset-inline-end: 40px;
  transform: translateY(-50%);
}
.closeSearh-btn i {
  font-size: 25px;
  color: #808080;
}

.search-holder-input {
  width: 100%;
  height: 100%;
  border-radius: 0;
  padding: 0 70px 0 45px;
  display: flex;
  align-items: center;
}
.search-holder-input form {
  display: block;
  width: 100%;
}

.search-holder-input input {
  width: 100%;
  color: #000;
  height: 100%;
  display: block;
  padding: 0 15px 0 50px;
  outline: none !important;
  transition: all linear 0.3s;
  font-size: 20px;
  border: none;
}
.search-holder-input input::-moz-placeholder {
  font-weight: 300;
  font-size: 23px;
  vertical-align: middle;
  color: #808080;
}
.search-holder-input input::placeholder {
  font-weight: 300;
  font-size: 23px;
  vertical-align: middle;
  color: #808080;
}

.searchButton i {
  font-size: 25px;
  color: #808080;
  transform: rotate(270deg);
}

.search-holder-parent {
  transition: all linear 0.2s;
  border-bottom: 1px solid #cbcbcb;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 0;
  background-color: #fff;
  visibility: hidden;
  opacity: 0;
  transform: translateY(-25px);
  justify-content: center;
  align-items: flex-start;
  z-index: 10;
}

.search-holder {
  width: 100%;
  height: 100%;
}

html[dir=ltr] .search-holder input {
  padding: 0 60px 0 10px;
}

.reset-left {
  height: 100vh;
  left: 0;
  top: 0;
  -webkit-clip-path: circle(139.6% at 9% 15%);
          clip-path: circle(139.6% at 9% 15%);
  visibility: visible;
  opacity: 1;
}

header {
  background-color: #0083ca;
  padding-inline-end: 30px;
  transition: all linear 0.3s;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}

nav {
  transition: all linear 0.3s;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1300px) {
  nav > .nav-ul > li {
    margin-inline-end: 80px;
  }
}
nav > .nav-ul {
  display: flex;
  align-items: flex-start;
}
nav > .nav-ul li:last-child {
  margin-inline-end: 0;
}
nav > .nav-ul > li {
  transition: all linear 0.3s;
  height: 113px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav > .nav-ul > li > a {
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  transition: all linear 0.2s;
}
nav > .nav-ul > li > a:hover {
  color: #fff;
}

.account-btn {
  padding: 7px 0;
}

nav .nav-ul > li a:hover::after {
  color: #fff;
}

.li-drop {
  height: 113px;
}
.li-drop > a::after {
  content: "";
  background-color: #8dc63f;
  top: 0;
  width: 100px;
  height: 100%;
  position: absolute;
  transform: translateX(-69px);
  z-index: -1;
  opacity: 0;
}
.li-drop:hover > a::after {
  opacity: 1;
}
.li-drop:hover .mega-menu {
  opacity: 1;
  visibility: visible;
}

.account-text:hover .account-details {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 992px) {
  .close-sec {
    display: none;
  }
  .bars {
    display: none;
  }
}
@media only screen and (min-width: 768px) {
  .li-drop > a:hover::after {
    color: #0083ca;
  }
  .cart:hover i, .account-text:hover i, .openMySearch:hover i {
    color: #fff;
  }
  .account-btn:hover i {
    color: #000;
  }
  .account-btn:hover {
    color: #0083ca;
  }
}
@media only screen and (max-width: 1199px) {
  .logo a img {
    height: 60px;
    width: auto;
  }
  body {
    padding-top: 113px;
  }
  nav > .nav-ul > li {
    margin-inline-end: 60px;
  }
}
@media only screen and (max-width: 991px) {
  nav > .nav-ul > li:first-child {
    padding: 0;
  }
  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  .header-content {
    justify-content: flex-start;
  }
  .cart-bars-holder {
    position: absolute;
    inset-inline-end: 0;
  }
  .search-holder-parent {
    height: 70px;
  }
  .control-section, nav {
    width: auto;
  }
  .lang span {
    color: #000;
  }
  .control-section .lang {
    display: none;
  }
  .logo a img {
    height: 50px;
    width: auto;
  }
  body {
    padding-top: 68px;
  }
  .openMySearch, .account-text, .cart {
    margin-inline-start: 25px;
  }
  .control-section .whatsapp-icon {
    margin-inline-start: 0;
  }
  .cart {
    margin-inline-end: 0;
  }
  .li-drop > a::after {
    font-size: 16px;
    content: "\f107";
    transition: all linear 0.3s;
    font-family: "line Awesome free";
    position: relative;
    font-weight: 900;
    color: #000;
    opacity: 1;
    transform: unset;
    background-color: unset;
    width: auto;
    top: unset;
    height: unset;
  }
  nav {
    overflow-y: auto;
    position: fixed;
    top: 0;
    inset-inline-start: 0%;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-clip-path: circle(10.9% at 16% 16%);
            clip-path: circle(10.9% at 16% 16%);
    transition: 0.4s;
    z-index: 200;
    text-align: center;
  }
  nav .nav-ul > li {
    height: auto;
    margin-inline-end: 50px;
    display: block;
    margin-bottom: 20px;
    width: 100%;
    margin-inline-end: 0;
  }
  nav .nav-ul > li > a {
    font-size: 18px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    font-weight: 500;
  }
  nav .nav-ul > li > a:hover {
    color: #000;
  }
  nav .nav-ul > li > a:hover::after {
    color: #000;
  }
  .closeSearh-btn {
    inset-inline-end: 23px;
  }
  .search-holder-input input::-moz-placeholder {
    font-size: 20px;
  }
  .searchButton i, .closeSearh-btn i, .search-holder-input input::placeholder {
    font-size: 20px;
  }
  .close-sec {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .close-sec i {
    color: #000;
    font-size: 24px;
  }
  html[dir=ltr] nav {
    -webkit-clip-path: circle(11.2% at 86% 14%);
            clip-path: circle(11.2% at 86% 14%);
  }
  html[dir=ltr] .reset-left {
    -webkit-clip-path: circle(122% at 86% 14%);
            clip-path: circle(122% at 86% 14%);
  }
  .nav-ul {
    flex-direction: column;
    margin: 50px 0 0 0;
    align-items: center;
  }
  .bars {
    margin-inline-start: 20px;
    padding: 7px 0;
  }
  header {
    padding: 15px 30px;
  }
  .header-content {
    position: relative;
    width: 100%;
  }
}
.cart-bars-holder {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .number {
    top: -6px;
  }
  .openMySearch {
    margin-inline-start: 0;
  }
  .search-holder-input input::-moz-placeholder {
    font-size: 17px;
  }
  .search-holder-input input::placeholder {
    font-size: 17px;
  }
  .control-section .whatsapp-icon {
    display: none;
  }
  .cart, .account-text {
    margin-inline-start: 20px;
  }
  body {
    padding-top: 52px;
  }
  .control-section i {
    font-size: 22px;
  }
  .logo a img {
    height: 35px;
  }
  header {
    padding: 8px 20px;
  }
  .search-holder-input input {
    padding: 0 7px 0 50px;
  }
  .search-holder-input {
    padding: 0 20px 0 20px;
  }
  .search-holder-parent {
    height: 60px;
  }
  .search-holder-input input {
    font-size: 16px;
  }
  .search-holder {
    width: 100%;
  }
  nav {
    padding: 14px 19px 20px 20px;
  }
}
.nav-arrow-rotate::after {
  transform: rotate(180deg) !important;
}

.show-search-box {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}

.sticky-header {
  padding-inline-end: 30px;
}
.sticky-header nav > .nav-ul > li {
  height: 70px;
}
.sticky-header .logo img {
  height: 50px;
  width: auto;
}

.totop-whatsapp-holder .showToTop {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=main.css.map */