


.control-section  , nav { 
    width: 301.77px;
}

.cart , .account-text , .openMySearch , .control-section .whatsapp-icon {
    margin-inline-start: 35px;
}

.logo a{
    width: 100%;
    display: block;
    img {
        transition: all linear .4s;
        height: 83px;
        width: 293px;
    }
}





 

.overflowHidden{
    overflow: hidden !important;
}





.lang{
    display: flex;
    align-items: center;
    span{
        font-size: 12px;
        color: #ffffff;
        margin-inline-end: 5px;
        text-align: center;
    }
}

  .account-details{
    width: 129px;
    height: 74px;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.1));
    background-color: #ffffff;
    position: absolute;
    text-align: center;
    padding: 10px 20px;
    z-index: 999;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    li {
        line-height: 30px;
    }
    a{
        font-size: 13px;
        line-height: 28px;
        text-transform: uppercase;
        color: #808080;
        text-align: center;
        transition: all linear .2s;
        &:hover{
            text-decoration: none;
            color: #0083ca;
        }
      }
      a:first-child{
        margin-bottom: 5px;
      }
  }



.control-section{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    i {
        font-size: 24px;
        color: #fff;
        width: 100%;
        display: block;
        &:hover{
            color: #fff !important;
        }
    }
}
.cart  {
margin-inline-end: 5px;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    i{
        transition: all linear .2s;
    }
    &:hover{
        i{
            color: #000;
        }
    }
}
.cart div {
    position: relative;
}

nav > .nav-ul > li:first-child{
    padding: 31px;
    margin-inline-end: 30px;
}


.number{
    background-color: #8dc63f;
    width: 16px;
    height: 16px;
    font-size: 9px;
    color: #ffffff;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 700;
    position: absolute;
    top: -5px;
    left: 13px;
}

  .account-text{
    display: flex;
    align-items: center;
    }

 .account-btn i  {
        transition: all linear .2s;
    }
    .account-btn-color {
        color: #0083ca;
    }

    .account-text{
        position: relative;
        margin-inline-start: 35px;
        display: flex;
        align-items: center;
    }

.openMySearch{
    i{
        transform: rotate(270deg);
    }
}
.closeSearh-btn{
    position: absolute;
    top: 50%;
    inset-inline-end: 40px;
    transform: translateY(-50%);
    
    i{
        font-size: 25px ;
        color: #808080;
    }
} 
.search-holder-input{
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 0 70px 0 45px;
    display: flex;
    align-items: center;
    form{
        display: block;
        width: 100%;
    }
}
.search-holder-input input{
    width: 100%;
    color: #000;
    height: 100%;
    display: block;
    padding:0 15px 0 50px;
    outline: none !important;
    transition: all linear 0.3s;
    font-size: 20px;
    border: none;
    &::placeholder{
        font-weight: 300;
        font-size: 23px;
        vertical-align: middle;
        color: #808080;
    }
    }

 
.searchButton{
    i{
        font-size: 25px;
    color: #808080;
    transform: rotate(270deg);
    }
}
.search-holder-parent{
    transition: all linear .2s;
    border-bottom: 1px solid #cbcbcb;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 0;
    background-color: #fff;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-25px);
     justify-content: center;
     align-items: flex-start;
    z-index: 10;
 }
 .search-holder{
    width: 100%;
    height: 100%;
     
 }
 


// ******************************************************************************




//  header
html[dir="ltr"]{
    .search-holder input{
        padding: 0 60px 0 10px;
    }
}

.reset-left {
    height: 100vh;
    left: 0;
    top: 0;
    clip-path: circle(139.6% at 9% 15%);
    visibility: visible;
    opacity: 1;
}




header{
    background-color: $main-color;    
    padding-inline-end: 30px;
    transition: all linear .3s;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;
}
nav{
    transition: all linear .3s;
    
}


.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}



@media screen and (max-width : 1300px ) {
    nav > .nav-ul > li{
        margin-inline-end:80px;
    }
}

nav{
     > .nav-ul {
        display: flex;
        align-items: flex-start;
        li:last-child{
            margin-inline-end: 0;
        }
       > li{
        transition: all linear .3s;
            height: 113px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            > a{
                font-size: 16px;
                line-height: 28px;
                text-transform: uppercase;
                color: #ffffff;
                font-weight: 700;
                transition: all linear .2s;
                &:hover{
                    color: #fff;
                }
            }
        }
    }
    
}
.account-btn{
    padding: 7px 0 ;
}

nav .nav-ul > li a:hover::after{
    color: #fff;
}

.li-drop{
    height: 113px;
    // padding: 5px 0;
    > a {
        &::after{
            content: "";
            background-color: #8dc63f;
            top: 0;
            width: 100px;
            height: 100%;
            position: absolute;
            transform: translateX(-69px);
            z-index: -1;
            opacity: 0;
        }
    }
    &:hover{
        & > a::after{
            opacity: 1;
        }
        .mega-menu{
            opacity: 1;
            visibility: visible;
        }
    }
    }
    

html[dir="rtl"]{
    .li-drop > a::after{
        transform: translateX(74px);
    }
}
.ancor-hover{
    transition: all linear .2s;
    &:hover{
        color: #0083ca;
    }
}




.account-text{
    &:hover{
        .account-details{
            opacity: 1;
            visibility: visible;
        }
    }
  }



@include min-992 {
    .close-sec{
        display: none;
    }
    .bars {
        display: none;
    }
}





@include min-768{
    .li-drop > a:hover::after{
        color: $main-color;
    }
    .cart , .account-text , .openMySearch {
        &:hover{
            i {
                color: #fff;
            }
        }
    }
    .account-btn{
       
        &:hover{
            i{
                color: #000;
            }
        }
    }
    .account-btn{
        &:hover{
            color: #0083ca;
        }
    }

}






@include max-1200{
    .logo a img{
        height: 60px;
        width: auto;
    }
    body{
        padding-top: 113px;
    }
    nav > .nav-ul > li{
        margin-inline-end: 60px;
    }
}

@include max-992 {
    nav > .nav-ul > li:first-child{
        padding: 0;
    }
    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .header-content{
        justify-content: flex-start;
    }
    .cart-bars-holder{
      
        position: absolute;
        inset-inline-end: 0;
    }
    .search-holder-parent{
        height: 70px;
    }
    .control-section, nav{
        width: auto;
    }
    .lang span{
        color: #000;
    }
    .control-section{
        .lang{
            display: none;
        }
    }
    .logo a img{
        height: 50px;
        width: auto;
    }
    body{
        padding-top: 68px;
    }
    .openMySearch , .account-text , .cart  {
        margin-inline-start: 25px;
    }
    .control-section .whatsapp-icon{
        margin-inline-start: 0;
    }
    .cart{
        margin-inline-end: 0;
    }
  
    .li-drop > a::after{
        font-size: 16px;
        content: "\f107";
        transition: all linear 0.3s;
        font-family: "line Awesome free";
        position: relative;
        font-weight: 900;
        color: #000;
        opacity: 1;
        transform: unset;
        background-color: unset;
        width: auto;
        top: unset;
        height: unset;
    }
    html[dir=rtl] .li-drop > a::after{
        transform: unset;
    }
    nav{
        overflow-y: auto;
        position: fixed ;
        top: 0 ;
        inset-inline-start: 0%;
        width: 100%;
        height: 100%;
        padding: 20px 30px ;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        clip-path: circle(10.9% at 16% 16%);
        transition: 0.4s;
        z-index: 200;
        text-align: center;
        .nav-ul > li{
            height: auto;
            margin-inline-end: 50px;
            display: block;
            margin-bottom: 20px;
            width: 100%;
            margin-inline-end: 0;
           >  a{
            font-size: 18px;
                width: 100%;
                  display: flex;
                justify-content: space-between;
                align-items: center;
                color: #000;
                font-weight: 500;
                &:hover{
                    color: #000;
                   &::after{
                        color: #000;
                    }
                }
              
            }
        }
    }

       
    
   
    .closeSearh-btn{
        inset-inline-end : 23px ;
    }
    .searchButton i , .closeSearh-btn i ,  .search-holder-input input::placeholder{
        font-size: 20px;
    }
    .close-sec{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        i{
            color: #000;
            font-size: 24px;
        }
    }
    html[dir="ltr"] nav {
        clip-path: circle(11.2% at 86% 14%);
      }
      html[dir="ltr"] .reset-left {
        clip-path: circle(122% at 86% 14%);
      }
      .nav-ul{
        flex-direction: column;
        margin: 50px 0 0 0 ;
        align-items: center;
    }
    .bars {
    margin-inline-start: 20px;
    padding: 7px 0;
    }
  
       
header{
    padding: 15px 30px;
}
    .header-content{
    position: relative;
    width: 100%;
}
       
       
}

.cart-bars-holder{
    display: flex;
    align-items: center;
}
    
@include max-768 {
    .number{
        top: -6px;
    }
    .openMySearch{
        margin-inline-start: 0;
    }
   
   
     .search-holder-input input::placeholder{
        font-size: 17px;
    }
    .control-section {
        .whatsapp-icon{
            display: none;
        }
    }
    .cart , .account-text  {
        margin-inline-start: 20px;
    }
    body{
        padding-top: 52px;
    }
    .control-section i{
        font-size: 22px;
    }
    .logo a img{
        height: 35px;
    }
    header{
        padding: 8px 20px;
    }
    .search-holder-input input{
        padding: 0 7px 0 50px;
    }
    .search-holder-input{
        padding: 0 20px 0 20px;
    }
    .search-holder-parent{
        height: 60px;
    }
    
    .search-holder-input input{
        font-size: 16px;
    }
    .search-holder{
    width: 100%;
    }
    
    
    
    
    nav{
        padding: 14px 19px 20px 20px;
    }
    
}
    


.nav-arrow-rotate::after {
    transform:   rotate(180deg)  !important;
}




.show-search-box{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


.sticky-header{
    nav > .nav-ul > li{
        height: 70px;
    }
    padding-inline-end: 30px;
    .logo img {
        height: 50px;
        width: auto;
    }
  }


  // back to up 
.totop-whatsapp-holder .showToTop{
    opacity: 1;
    visibility: visible;
  }
  
  